<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Portfolio - Pélisson
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<style>

				* {
					margin: 0;
					padding: 0;
					font-family: Montserra, sans-serif;
					
					

				}
				body{
					background-color: #37a6c2ff;
				}
				.header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					background-color: black;
					color: white;
					padding: 15px;

				}

				h2 {
					font-size: 20px;

				}
				.gallery-link {
					text-decoration: none;
					color: white;
					
				}
			</style>

		{% endblock %}

		{% block header %}
			<div class="header">
				<a href="/" class="gallery-link" ><h1>Portfolio</h1></a>
                
                
					<a href="/" class="gallery-link"><h2>Gallerie de projets</h2></a>
               
                
			
			</div>

		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

		{% block footer %}{% endblock %}
	</body>
</html>
